/*
* to compile run this code from the root of this app
* sass --watch widget.scss:widget.css
*
* this file styles the widget content and button
*/

@font-face {
  font-family: "Open Dyslexic";
  src: url("./fonts/OpenDyslexic-Regular.otf") format("opentype"),
  url("./fonts/OpenDyslexic-Bold.otf") format("opentype");
}

body.open-dyslexic{
    font-family: "Open Dyslexic";

    *:not(i) {
        font-family: "Open Dyslexic" !important;
    }
}

body.readability-hide-images {
    *{
        background-image: none !important;
    }
    img {
        // display:none !important;
        opacity: 0 !important;
    }
}


#readability-warm-overlay {
    top: -10% !important;
    margin: 0 !important;
    opacity: 1 !important;
    padding: 0 !important;
    right: -10% !important;
    width: 120% !important;
    height: 120% !important;
    display: block !important;
    position: fixed !important;
    border-radius: 0 !important;
    z-index: 2147483647 !important;
    pointer-events: none !important;
    transition: opacity 0.1s !important;
    mix-blend-mode: multiply !important;
    background: rgba(245, 229, 209, 0.7) !important;
}

body.readability-highlight-links-on {
    a,button{
        background: #FAC800 !important;
        color: black !important;
        text-decoration: none !important;
        
        *{
            background: #FAC800 !important;
            color: black !important;
            text-decoration: none !important;
        }
    }
    a{
        border-bottom: 2px solid black !important;
    }
    button{
        border: 2px solid black !important;
    }
    a:hover{
        border-bottom: 2px solid rgb(0,0,0,0) !important;
    }
    button:hover{
        border: 2px solid rgb(0,0,0,0) !important;
    }
}

#readability-widget {
    opacity: 0;
    position: fixed;
    right: 10px;
    width: 350px;
    z-index: 999;

    transition: bottom .25s;

    #widget-toggle {
        svg{
            fill: #ffffff;
            width: 20px;
            margin: 0px 6px 0px 0px;
            position: relative;
            top: 4px;
        }
    }

    &.open{
        //bottom: 0px;
        #widget-toggle {
            button::after { //down triangle
                content:"";
                width: 0; 
                height: 0; 
                position: absolute;
                top: 18px;
                right: 9px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid white;
            }
        }
        #widget-content{
            display: block;
        }    
    }
    &.closed{
        //bottom: -350px;
        #widget-toggle {
            button.closed::after { //up triangle
                width: 0; 
                height: 0; 
                position: absolute;
                top: 24px;
                right: 9px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid white;
                content:"";
            }
        }
    }

    &.widget-hidden{
        right: -148px;

        #widget-toggle {
            button {
                background-color: #757575;
                transition: right .25s;
                right: 0px;
            }

            button:hover{
                background-color: #CC0000;
                position: relative;
                right: 150px;
            }
        }
    }

    #widget-toggle {
        text-align: right;

        button {
            background: #cc0000;
            border: 0px;
            color: #FFF;
            font-family: "RobotoBold",Arial,Helvetica Neue,Helvetica,sans-serif;
            font-size: 1.25rem;
            line-height: 1.25;
            padding: 10px 35px 10px 10px;
            position: relative;
        }

        button:focus {
            outline: 3px solid blue;
        }

        button:hover{
            cursor: pointer;
        }

    }
    #widget-content {
        background: #ffffff;
        border: 1px solid #555;
        font-family: "RobotoLight",Arial,Helvetica Neue,Helvetica,sans-serif; 
        font-size: 1.25rem;
        font-weight: 100;
        padding: 20px;
        max-width: 400px;

        #hide-widget-button {
            background: none;
            border: none;
            color: #757575;
            font-family: "RobotoLight",Arial,Helvetica Neue,Helvetica,sans-serif; 
            font-weight: 100;
            font-size: 0.9rem;

            &:hover {
                text-decoration: underline;
            }
        }

        & *:last-child{
            margin-bottom: 0px;
        }
        /* The switch - the box around the slider */
        label.readability-switch {
            display: grid;
            grid-template-columns: 3fr 1fr;
            height: 34px;
            margin-bottom: 10px;
            position: relative;
            width: 100%;

            span.readability-switch-label{
                line-height: 34px;
                font-size: 1.2rem;
            }

            /* Move toggle to the right */
            span.switch-toggle-container {
                height: 36px;
                justify-self: end;
                position: relative;
                width: 60px;
            }

            /* Hide default HTML checkbox */
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            input:focus + span.toggle-switch {
                outline: 3px solid blue;
            }

            /* The toggle switch */
            span.toggle-switch {
                background-color: #ccc;
                border-radius: 34px;
                bottom: 0;
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 100%;
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: .2s;
                -webkit-transition: .2s;

                .label-on{
                    align-self: center;
                    font-size: 0.75rem;
                    display: none;
                    text-align: center;
                    -webkit-align-self: center;
                    z-index: 0;
                }
                .label-off{
                    align-self: center;
                    -webkit-align-self: center;
                    font-size: 0.75rem;
                    padding-left: 32px;
                    padding-right: 4px;
                    text-align: center;
                    z-index: 0;
                }
            }
            span.toggle-switch:before {
                background-color: white;
                border-radius: 50%;
                bottom: 6px;
                color:black;
                content: "";
                height: 24px;
                left: 5px;
                position: absolute;
                transition: 0s;
                -webkit-transition: 0s;
                width: 24px;
            }
            input:checked+.toggle-switch {
                background-color: #94ccf9;

                .label-off {
                    display: none;
                }

                .label-on {
                    display: unset;
                }
            }
            input:focus+.toggle-switch {
                box-shadow: 0 0 1px #94ccf9;
            }
            input:checked+.toggle-switch:before {
                -webkit-transform: translateX(24px);
                -ms-transform: translateX(24px);
                transform: translateX(24px);
            }
        }
        p {
            font-size: 0.9rem;
            margin: 0px 0px 10px 0px;

            a {
                color: #cc0000;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Custom Styles for NCSU Libraries website */
body.readability-hide-images {
    div.slick-wrapper {
        // display: none !important;
        opacity:0 !important;
    }
}

@media print {
    #readability-widget{
        display: none;
    }
}
