/*
* to compile run this code from the root of this app
* sass --watch widget.scss:widget.css
*
* this file styles the widget content and button
*/

#readability-widget {
    width: 350px;
    @media only screen and (max-width: 500px) {
        padding: 5%;
        width: 90%;
    }

    #widget-toggle {
        button {
            background: #cc0000;
            border: 0px;
            color: #FFF;
            font-family: "UniversRoman";
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 1.25;
            padding: 13px 10px 10px 10px;
        }
    }
    #widget-content {
        border: 1px solid #555;
        font-family: "UniversLight";
        font-size: 1.25rem;
        padding: 20px;
        max-width: 400px;

        & *:last-child{
            margin-bottom: 0px;
        }
        /* The switch - the box around the slider */
        label.switch {
            display: grid;
            grid-template-columns: 3fr 1fr;
            height: 34px;
            margin-bottom: 10px;
            position: relative;
            width: 100%;

            span.switch-label{
                line-height: 34px;
            }

            /* Move toggle to the right */
            span.switch-toggle-container {
                justify-self: end;
                position: relative;
                width: 60px;
            }

            /* Hide default HTML checkbox */
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            /* The toggle switch */
            span.toggle-switch {
                background-color: #ccc;
                border-radius: 34px;
                bottom: 0;
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr 1fr;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: .2s;
                -webkit-transition: .2s;

                .label-on{
                    align-self: center;
                    font-size: 0.9rem;
                    text-align: center;
                    z-index: 0;
                }
                .label-off{
                    align-self: center;
                    font-size: 0.9rem;
                    text-align: center;
                    z-index: 0;
                }
            }
            span.toggle-switch:before {
                background-color: white;
                border-radius: 50%;
                bottom: 4px;
                content: "";
                height: 26px;
                left: 4px;
                position: absolute;
                transition: .2s;
                -webkit-transition: .2s;
                width: 26px;
            }
            input:checked+.toggle-switch {
                background-color: #2196F3;
            }
            input:focus+.toggle-switch {
                box-shadow: 0 0 1px #2196F3;
            }
            input:checked+.toggle-switch:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
        p {
            a {
                color: #cc0000;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}
