/*
* to compile run this code from the root of this app
* sass --watch widget.scss:widget.css
*
* this file styles the widget content and button
*/
#readability-widget {
  position: fixed;
  right: 10px;
  bottom: 0px;
  width: 350px;
}
#readability-widget #widget-toggle {
  text-align: right;
}
#readability-widget #widget-toggle button {
  background: #cc0000;
  border: 0px;
  color: #FFF;
  font-family: "UniversRoman";
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25;
  padding: 13px 35px 10px 10px;
  position: relative;
}
#readability-widget #widget-toggle button.closed::after {
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  right: 9px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  content: "";
}
#readability-widget #widget-toggle button.open::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  right: 9px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
#readability-widget #widget-toggle button:focus {
  outline: 3px solid blue;
}
#readability-widget #widget-content {
  background: #ffffff;
  border: 1px solid #555;
  display: none;
  font-family: "UniversLight";
  font-size: 1.25rem;
  padding: 20px;
  max-width: 400px;
  /* The switch - the box around the slider */
}
#readability-widget #widget-content.visible {
  display: block;
}
#readability-widget #widget-content *:last-child {
  margin-bottom: 0px;
}
#readability-widget #widget-content label.switch {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 34px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  /* Move toggle to the right */
  /* Hide default HTML checkbox */
  /* The toggle switch */
}
#readability-widget #widget-content label.switch span.switch-label {
  line-height: 34px;
}
#readability-widget #widget-content label.switch span.switch-toggle-container {
  justify-self: end;
  position: relative;
  width: 60px;
}
#readability-widget #widget-content label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#readability-widget #widget-content label.switch input:focus + span.toggle-switch {
  outline: 3px solid blue;
}
#readability-widget #widget-content label.switch span.toggle-switch {
  background-color: #ccc;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
#readability-widget #widget-content label.switch span.toggle-switch .label-on {
  align-self: center;
  font-size: 0.75rem;
  text-align: center;
  z-index: 0;
  opacity: 0;
}
#readability-widget #widget-content label.switch span.toggle-switch .label-off {
  align-self: center;
  font-size: 0.75rem;
  text-align: center;
  padding-right: 4px;
  z-index: 0;
}
#readability-widget #widget-content label.switch span.toggle-switch:before {
  background-color: white;
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0s;
  -webkit-transition: 0s;
  width: 26px;
}
#readability-widget #widget-content label.switch input:checked + .toggle-switch {
  background-color: #2196F3;
}
#readability-widget #widget-content label.switch input:checked + .toggle-switch .label-off {
  opacity: 0;
}
#readability-widget #widget-content label.switch input:checked + .toggle-switch .label-on {
  opacity: 1;
}
#readability-widget #widget-content label.switch input:focus + .toggle-switch {
  box-shadow: 0 0 1px #2196F3;
}
#readability-widget #widget-content label.switch input:checked + .toggle-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#readability-widget #widget-content p {
  font-size: 1rem;
}
#readability-widget #widget-content p a {
  color: #cc0000;
  text-decoration: none;
}
#readability-widget #widget-content p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=widget.css.map */
