/*
* to compile run this code from the root of this app
* sass --watch widget.scss:widget.css
*
* this file styles the widget content and button
*/
@font-face {
  font-family: "Open Dyslexic";
  src: url("./fonts/OpenDyslexic-Regular.otf") format("opentype"), url("./fonts/OpenDyslexic-Bold.otf") format("opentype");
}
body.open-dyslexic {
  font-family: "Open Dyslexic";
}
body.open-dyslexic *:not(i) {
  font-family: "Open Dyslexic" !important;
}

body.readability-hide-images * {
  background-image: none !important;
}
body.readability-hide-images img {
  opacity: 0 !important;
}

#readability-warm-overlay {
  top: -10% !important;
  margin: 0 !important;
  opacity: 1 !important;
  padding: 0 !important;
  right: -10% !important;
  width: 120% !important;
  height: 120% !important;
  display: block !important;
  position: fixed !important;
  border-radius: 0 !important;
  z-index: 2147483647 !important;
  pointer-events: none !important;
  transition: opacity 0.1s !important;
  mix-blend-mode: multiply !important;
  background: rgba(245, 229, 209, 0.7) !important;
}

body.readability-highlight-links-on a, body.readability-highlight-links-on button {
  background: #FAC800 !important;
  color: black !important;
  text-decoration: none !important;
}
body.readability-highlight-links-on a *, body.readability-highlight-links-on button * {
  background: #FAC800 !important;
  color: black !important;
  text-decoration: none !important;
}
body.readability-highlight-links-on a {
  border-bottom: 2px solid black !important;
}
body.readability-highlight-links-on button {
  border: 2px solid black !important;
}
body.readability-highlight-links-on a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
}
body.readability-highlight-links-on button:hover {
  border: 2px solid rgba(0, 0, 0, 0) !important;
}

#readability-widget {
  opacity: 0;
  position: fixed;
  right: 10px;
  width: 350px;
  z-index: 999;
  transition: bottom 0.25s;
}
#readability-widget #widget-toggle svg {
  fill: #ffffff;
  width: 20px;
  margin: 0px 6px 0px 0px;
  position: relative;
  top: 4px;
}
#readability-widget.open #widget-toggle button::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  right: 9px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
#readability-widget.open #widget-content {
  display: block;
}
#readability-widget.closed #widget-toggle button.closed::after {
  width: 0;
  height: 0;
  position: absolute;
  top: 24px;
  right: 9px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  content: "";
}
#readability-widget.widget-hidden {
  right: -148px;
}
#readability-widget.widget-hidden #widget-toggle button {
  background-color: #757575;
  transition: right 0.25s;
  right: 0px;
}
#readability-widget.widget-hidden #widget-toggle button:hover {
  background-color: #CC0000;
  position: relative;
  right: 150px;
}
#readability-widget #widget-toggle {
  text-align: right;
}
#readability-widget #widget-toggle button {
  background: #cc0000;
  border: 0px;
  color: #FFF;
  font-family: "RobotoBold", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.25;
  padding: 10px 35px 10px 10px;
  position: relative;
}
#readability-widget #widget-toggle button:focus {
  outline: 3px solid blue;
}
#readability-widget #widget-toggle button:hover {
  cursor: pointer;
}
#readability-widget #widget-content {
  background: #ffffff;
  border: 1px solid #555;
  font-family: "RobotoLight", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  padding: 20px;
  max-width: 400px;
  /* The switch - the box around the slider */
}
#readability-widget #widget-content #hide-widget-button {
  background: none;
  border: none;
  color: #757575;
  font-family: "RobotoLight", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}
#readability-widget #widget-content #hide-widget-button:hover {
  text-decoration: underline;
}
#readability-widget #widget-content *:last-child {
  margin-bottom: 0px;
}
#readability-widget #widget-content label.readability-switch {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 34px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  /* Move toggle to the right */
  /* Hide default HTML checkbox */
  /* The toggle switch */
}
#readability-widget #widget-content label.readability-switch span.readability-switch-label {
  line-height: 34px;
  font-size: 1.2rem;
}
#readability-widget #widget-content label.readability-switch span.switch-toggle-container {
  height: 36px;
  justify-self: end;
  position: relative;
  width: 60px;
}
#readability-widget #widget-content label.readability-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#readability-widget #widget-content label.readability-switch input:focus + span.toggle-switch {
  outline: 3px solid blue;
}
#readability-widget #widget-content label.readability-switch span.toggle-switch {
  background-color: #ccc;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
#readability-widget #widget-content label.readability-switch span.toggle-switch .label-on {
  align-self: center;
  font-size: 0.75rem;
  display: none;
  text-align: center;
  -webkit-align-self: center;
  z-index: 0;
}
#readability-widget #widget-content label.readability-switch span.toggle-switch .label-off {
  align-self: center;
  -webkit-align-self: center;
  font-size: 0.75rem;
  padding-left: 32px;
  padding-right: 4px;
  text-align: center;
  z-index: 0;
}
#readability-widget #widget-content label.readability-switch span.toggle-switch:before {
  background-color: white;
  border-radius: 50%;
  bottom: 6px;
  color: black;
  content: "";
  height: 24px;
  left: 5px;
  position: absolute;
  transition: 0s;
  -webkit-transition: 0s;
  width: 24px;
}
#readability-widget #widget-content label.readability-switch input:checked + .toggle-switch {
  background-color: #94ccf9;
}
#readability-widget #widget-content label.readability-switch input:checked + .toggle-switch .label-off {
  display: none;
}
#readability-widget #widget-content label.readability-switch input:checked + .toggle-switch .label-on {
  display: unset;
}
#readability-widget #widget-content label.readability-switch input:focus + .toggle-switch {
  box-shadow: 0 0 1px #94ccf9;
}
#readability-widget #widget-content label.readability-switch input:checked + .toggle-switch:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
#readability-widget #widget-content p {
  font-size: 0.9rem;
  margin: 0px 0px 10px 0px;
}
#readability-widget #widget-content p a {
  color: #cc0000;
  text-decoration: none;
}
#readability-widget #widget-content p a:hover {
  text-decoration: underline;
}

/* Custom Styles for NCSU Libraries website */
body.readability-hide-images div.slick-wrapper {
  opacity: 0 !important;
}

@media print {
  #readability-widget {
    display: none;
  }
}

/*# sourceMappingURL=widget.css.map */
